<% var data = { title: "Главная | Факторинг" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section main">
    <div class="container">
        <div class="main__info">
            <div class="main__info-top">
                <h1 class="margin-bottom">Зарабатываешь на грузоперевозках? </h1>
                <div class="h4">Не жди месяц, чтобы получить свои деньги!</div>
                <p class="color-gray body16-mobile">Первый сервис в России в котором перевозчики могут получить заработанные деньги в течении одного дня</p>

            </div>

            <div class="main__images images-stack-block">
                <img alt="" data-top="" data-plus-offset="" data-direction="vertical" data-max-translate="-15" data-offset_x="" data-offset_y=""
                     class="parallax main__images-phone image-stack image-stack-first"
                     src="./img/main-2.png">
                <img alt="" data-top="" data-plus-offset="" data-direction="vertical" data-max-translate="10" data-offset_x="" data-offset_y="" class="parallax main__images-map image-stack"
                     src="./img/main-1.png">
            </div>

            <div class="main__calculator" data-settings='{"default":{"price":20000},"values":{"minPrice":5000,"maxPrice":50000}}' id="calculator">
                <div class="main__calculator-item">
                    <label class="field field-input margin-bottom">
                        <input class="input-money input-text placeholder validate" data-currency=" ₽" data-placeholder="Выберите сумму" data-validate="required" id="calculator-input"
                               name="calculator-input"
                               placeholder="Введите значение" type="text">
                        <input class="input-money" hidden id="calculator-range-value" type="text">
                        <p class="error-message"></p>

                        <input class="js-range-slider" name="mortgage_sum_range" type="text" value=""/>
                    </label>

                </div>

                <form action="/">
                    <input type="hidden" id="calculator-sum-finally">
                    <button class="button full-width" type="submit">Получить деньги</button>
                </form>



                <div class="main__calculator-summary">
                    <div class="main__calculator-summary-block">
                        <div class="main__calculator-summary-title">
                            <span class="body12 color-gray">Первая выплата</span>

                            <div class="main__calculator-summary-info tooltip" data-text="Закрывающая выплата — платеж, получаемый перевозчиком после оплаты заказчиком счета по перевозке.">
                                <i class="icon-info"></i>
                            </div>
                        </div>
                        <div class="main__calculator-summary-text">
                            <span class="body14 bold-text" id="calc-first-paid">22 400 ₽</span>
                            <span class="body14 color-gray">(70%)</span>
                        </div>
                    </div>
                    <div class="main__calculator-summary-block">
                        <div class="main__calculator-summary-title">
                            <span class="body12 color-gray">Закрывающая выплата</span>

                            <div class="main__calculator-summary-info tooltip" data-text="1Закрывающая выплата — платеж, получаемый перевозчиком после оплаты заказчиком счета по перевозке.">
                                <i class="icon-info"></i>
                            </div>
                        </div>
                        <div class="main__calculator-summary-text">
                            <span class="body14 main__calculator-summary-cross">
                                <span id="calc-close-paid-crossed">6 400 ₽</span><span class="body14 color-gray">(20%)</span>
                            </span>
                            <span class="body14 bold-text" id="calc-close-paid">9 600 ₽</span>
                            <span class="body14 color-gray">(30%)</span>
                        </div>
                    </div>
                    <div class="main__calculator-summary-block">
                        <div class="main__calculator-summary-title">
                            <span class="body12 color-gray">Комиссия</span>

                            <div class="main__calculator-summary-info tooltip" data-text="2Закрывающая выплата — платеж, получаемый перевозчиком после оплаты заказчиком счета по перевозке.">
                                <i class="icon-info"></i>
                            </div>
                        </div>
                        <div class="main__calculator-summary-text">
                            <span class="body14 main__calculator-summary-cross">
                                <span id="calc-commission-paid">3 200 ₽</span> <span class="body14 color-gray">(10%)</span>
                            </span>
                            <span class="body14 bold-text">0 ₽</span>
                            <span class="body14 color-gray">Первая сделка бесплатно!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section how" id="section-how">
    <div class="container">
        <h2 class="h2 text-align-center">Как это работает</h2>
        <div class="how__steps-wrap">
            <div class="how__steps-item">
                <div class="how__steps-item-img">
                    <img src="./img/how/waiting.svg" alt="">
                </div>
                <div class="how__steps-item-content">
                    <p class="h6">Зарегистрируйтесь</p>
                    <p class="body14 color-gray">Заполните анкету за 2 минуты</p>
                </div>

            </div>
            <div class="how__steps-item">
                <div class="how__steps-item-img">
                    <img src="./img/how/delivery-truck.svg" alt="">
                </div>
                <div class="how__steps-item-content">
                    <p class="h6">Выполните рейс</p>
                    <p class="body14 color-gray">После выполнения заказа сохраните закрывающие документы</p>
                </div>

            </div>
            <div class="how__steps-item">
                <div class="how__steps-item-img">
                    <img src="./img/how/secure.svg" alt="">
                </div>
                <div class="how__steps-item-content">
                    <p class="h6">Загрузите документы</p>
                    <p class="body14 color-gray">Загрузите в личном кабинете скан-копии:</p>
                    <p class="body14 color-gray no-margin-top">1. Договора-заявки</p>
                    <p class="body14 color-gray no-margin-top">2. Акта выполненных работ</p>
                </div>

            </div>
            <div class="how__steps-item">
                <div class="how__steps-item-img">
                    <img src="./img/how/money-bags.svg" alt="">
                </div>
                <div class="how__steps-item-content">
                    <p class="h6">Получите деньги</p>
                    <p class="body14 color-gray">Зачисление на банковскую карту течение 1 часа</p>
                </div>

            </div>
        </div>

        <div class="how__double">
            <div class="how__double-item images-stack-block images-stack-relative">
                <img alt="" data-top="" data-plus-offset="600" data-direction="horizontal" data-max-translate="10" data-offset_x="" data-offset_y=""
                     class="parallax main__images-phone image-stack image-stack-first"
                     src="./img/credits-2.png">
                <img alt="" data-top="" data-plus-offset="600" data-direction="horizontal" data-max-translate="-30" data-offset_x="" data-offset_y=""
                     class="parallax main__images-map image-stack z-index-up"
                     src="./img/credits-1.png">
            </div>
            <div class="how__double-item">
                <h3 class="h3">Не нужно брать кредиты</h3>
                <p class="color-gray body16-mobile">63% опрошенных пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 ₽.
                </p>
                <p class="color-gray body16-mobile">
                    Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.
                </p>
            </div>
        </div>

        <div class="how__double">
            <div class="how__double-item">
                <h3 class="h3">Четко видно сколько денег начислено и за что</h3>
                <p class="color-gray body16-mobile">Никаких скрытых платежей, на этапе подачи заявки вы получаете расчет по сделке с финальными условиями. В личном кабинете вы всегда можете посмотреть историю
                    операций и поступлений денежных средств.
                </p>
            </div>
            <div class="how__double-item how__double-phone images-stack-block images-stack-relative">
                <img alt="" data-top="" data-plus-offset="100" data-direction="vertical" data-max-translate="-30" data-offset_x="" data-offset_y=""
                     class="parallax main__images-phone image-stack image-stack-first z-index-up"
                     src="./img/mobile-1.png">
                <img alt="" data-top="" data-plus-offset="100" data-direction="vertical" data-max-translate="-15" data-offset_x="" data-offset_y="" class="parallax main__images-map image-stack"
                     src="./img/mobile-2.png">
            </div>

        </div>
    </div>
</section>


<section class="section reviews">
    <div class="container">
        <h2 class="h2 text-align-center">Отзывы</h2>

        <div class="reviews__slider-wrap">
            <div class="reviews__slider" id="reviews__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-item">
                            <div class="reviews__top">
                                <div class="reviews__top-avatar" style="background-image: url('./img/avatar-default.png')"></div>
                                <div class="reviews__top-name">
                                    <div class="h6">Константинов Михаил Павлович</div>
                                    <p class="body12 color-gray no-margin-vertical">Санкт-Петербург</p>
                                </div>
                            </div>

                            <div class="reviews__content">
                                <p class="body14 no-margin-bottom">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов
                                    поведения. В
                                    своём
                                    стремлении улучшить пользовательский опыт мы
                                    </p>
                                <span class="review__content-more text-underline">Подробнее</span>
                            </div>

                            <div class="reviews__bottom">
                                <div class="reviews__bottom-points">
                                    <span class="h6 bold-text">Оценка</span>
                                    <div class="reviews__bottom-mark mark-5">5</div>
                                </div>

                                <div class="reviews__bottom-date body14 color-gray">30.11.2020</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-item">
                            <div class="reviews__top">
                                <div class="reviews__top-avatar" style="background-image: url('./img/avatar-default.png')"></div>
                                <div class="reviews__top-name">
                                    <div class="h6">Константинов Михаил Павлович</div>
                                    <p class="body12 color-gray no-margin-vertical">Санкт-Петербург</p>
                                </div>
                            </div>

                            <div class="reviews__content">
                                <p class="body14 no-margin-bottom">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов
                                    поведения. В
                                    своём
                                    стремлении улучшить пользовательский опыт мы
                                </p>
                                <span class="review__content-more text-underline">Подробнее</span>
                            </div>

                            <div class="reviews__bottom">
                                <div class="reviews__bottom-points">
                                    <span class="h6 bold-text">Оценка</span>
                                    <div class="reviews__bottom-mark mark-5">5</div>
                                </div>

                                <div class="reviews__bottom-date body14 color-gray">30.11.2020</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-item">
                            <div class="reviews__top">
                                <div class="reviews__top-avatar" style="background-image: url('./img/avatar-default.png')"></div>
                                <div class="reviews__top-name">
                                    <div class="h6">Константинов Михаил Павлович</div>
                                    <p class="body12 color-gray no-margin-vertical">Санкт-Петербург</p>
                                </div>
                            </div>

                            <div class="reviews__content">
                                <p class="body14 no-margin-bottom">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов
                                    поведения. В
                                    своём
                                    стремлении улучшить пользовательский опыт мы
                                </p>
                                <span class="review__content-more text-underline">Подробнее</span>
                            </div>

                            <div class="reviews__bottom">
                                <div class="reviews__bottom-points">
                                    <span class="h6 bold-text">Оценка</span>
                                    <div class="reviews__bottom-mark mark-3">3</div>
                                </div>

                                <div class="reviews__bottom-date body14 color-gray">30.11.2020</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-item">
                            <div class="reviews__top">
                                <div class="reviews__top-avatar" style="background-image: url('./img/avatar-default.png')"></div>
                                <div class="reviews__top-name">
                                    <div class="h6">Константинов Михаил Павлович</div>
                                    <p class="body12 color-gray no-margin-vertical">Санкт-Петербург</p>
                                </div>
                            </div>

                            <div class="reviews__content">
                                <p class="body14 no-margin-bottom">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов
                                    поведения. В
                                    своём
                                    стремлении улучшить пользовательский опыт мы
                                </p>
                                <span class="review__content-more text-underline">Подробнее</span>
                            </div>

                            <div class="reviews__bottom">
                                <div class="reviews__bottom-points">
                                    <span class="h6 bold-text">Оценка</span>
                                    <div class="reviews__bottom-mark mark-5">5</div>
                                </div>

                                <div class="reviews__bottom-date body14 color-gray">30.11.2020</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="reviews__slider-item">
                            <div class="reviews__top">
                                <div class="reviews__top-avatar" style="background-image: url('./img/avatar-default.png')"></div>
                                <div class="reviews__top-name">
                                    <div class="h6">Константинов Михаил Павлович</div>
                                    <p class="body12 color-gray no-margin-vertical">Санкт-Петербург</p>
                                </div>
                            </div>

                            <div class="reviews__content">
                                <p class="body14 no-margin-bottom">Каждый из нас
                                </p>
                            </div>

                            <div class="reviews__bottom">
                                <div class="reviews__bottom-points">
                                    <span class="h6 bold-text">Оценка</span>
                                    <div class="reviews__bottom-mark mark-1">1</div>
                                </div>

                                <div class="reviews__bottom-date body14 color-gray">30.11.2020</div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="swiper-button swiper-button-prev">
                <i class="icon-fi-sr-angle-left"></i>
            </div>
            <div class="swiper-button swiper-button-next">
               <i class="icon-fi-sr-angle-right"></i>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>


<section class="section info" id="section-info">
    <div class="container">
        <h2 class="h2 text-align-center">Вопросы и ответы</h2>
        <div class="info__wrap">
            <div class="item">
                <div class="top">
                    <p class="bold-text">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <p class="bold-text">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <p class="bold-text">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <p class="bold-text">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
