<% var data = { title: "Профиль | Факторинг", authPage: false }; %> <%= _.template(require('./../includes/lk/header-lk.html').default)(data) %>

<section class="section auth">
    <form action="" class="auth__form with-success" id="auth-form">

        <div class="auth__step  active" data-step="1">
            <h2 class="h2 margin-bottom-x2">Добавление счёта</h2>

            <label class="field field-input">
                <input class="input-text placeholder validate" data-validate="required-min" placeholder="Введите наименование" data-placeholder="Наименование организации"
                       name="company_name" type="text">
                <p class="error-message"></p>
            </label>
            <label class="field field-input">
                <input class="input-text placeholder validate" data-validate="required-inn" placeholder="Введите ИНН" data-placeholder="ИНН"
                       name="inn" data-type="ИП" type="text">
                <p class="error-message"></p>
            </label>
            <label class="field field-input">
                <input class="input-text placeholder validate" data-validate="number" placeholder="Введите номер" data-placeholder="Номер счёта"
                       name="account_number" type="text">
                <p class="error-message"></p>
            </label>
            <label class="field field-input">
                <input class="input-text placeholder validate" data-validate="required-min-number" placeholder="Введите БИК" data-placeholder="БИК"
                       name="bik" type="text">
                <p class="error-message"></p>
            </label>
            <label class="field field-input">
                <input class="input-text placeholder validate" data-validate="required-min" placeholder="Введите наименование" data-placeholder="Наименование банка"
                       name="bank_name" type="text">
                <p class="error-message"></p>
            </label>
            <label class="field field-input">
                <input class="input-text placeholder validate" data-validate="required-min-number" placeholder="Введите номер счета" data-placeholder="Корреспондентский счёт"
                       name="correspondent_account" type="text">
                <p class="error-message"></p>
            </label>

            <button class="button full-width margin-bottom" type="submit">Сохранить</button>

            <a href="/">Вернуться назад</a>
        </div>


        <div class="auth__loader">
            <div class="loader"></div>
        </div>

        <div class="auth__message">

        </div>
    </form>
</section>




<%= _.template(require('./../includes/lk/footer-lk.html').default)(data) %>
