<% var data = { title: "Личный кабинет | Факторинг", authPage: false }; %> <%= _.template(require('./../includes/lk/header-lk.html').default)(data) %>


<section class="section  lk lk-table__history">
    <div class="container">
        <h2 class="h2">История операций</h2>
    </div>
    <div class="container no-padding-mobile">
        <div class="lk-table__wrapper lk-block" data-json='[
   {
      "id":1,
      "number":99494,
      "date":"09.02.2021, 00:00",
      "operation":"Вывод денежных средств со счёта",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":32000,
      "status":"success"
   },
   {
      "id":2,
      "number":99495,
      "date":"11.03.2021, 00:00",
      "operation":"Закрывающая выплата (20%)",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":15700,
      "status":"error"
   },
   {
      "id":3,
      "number":99496,
      "date":"11.02.2021, 00:00",
      "operation":"Закрывающая выплата (20%)",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":2000,
      "status":"success"
   },
    {
      "id":4,
      "number":99491,
      "date":"16.02.2021, 00:00",
      "operation":"Первая выплата (70%)",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":2000,
      "status":"process"
   }
]'>
            <div class="lk-table__filter">

                <div class="lk-table__filter-sort">
                    <span class="lk-table__text">Сортировать</span>
                    <select name="" class="custom-select" id="lk-table__filter-sort">
                        <option value="date">По дате</option>
                        <option value="number">По номеру</option>
                        <option value="contractor">По контрагенту</option>
                        <option value="amount">По сумме</option>
                        <option value="status">По статусу</option>
                        <option value="operation">По операции</option>
                    </select>
                </div>
                <div class="lk-table__filter-direction" id="lk-table__filter-direction">
                    <div class="item active" data-sort="asc">
                        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="2" height="16" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 16 12)" fill="#191C1F"/>
                            <rect width="2" height="11" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 11 7)" fill="#191C1F"/>
                            <rect width="2" height="7" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 7 2)" fill="#191C1F"/>
                        </svg>
                    </div>
                    <div class="item" data-sort="desc">
                        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="16" width="2" height="16" transform="rotate(90 16 0)" fill="#83898F"/>
                            <rect x="11" y="5" width="2" height="11" transform="rotate(90 11 5)" fill="#83898F"/>
                            <rect x="7" y="10" width="2" height="7" transform="rotate(90 7 10)" fill="#83898F"/>
                        </svg>

                    </div>
                </div>
            </div>

            <div class="lk-table">

            </div>
        </div>
    </div>
</section>



<%= _.template(require('./../includes/lk/footer-lk.html').default)(data) %>
