<% var data = { title: "Личный кабинет | Факторинг", authPage: false }; %> <%= _.template(require('./../includes/lk/header-lk.html').default)(data) %>


<section class="section  lk lk-table__history">
    <div class="container">
        <h3 class="h3">Заявки</h3>

        <div class="lk-table__wrapper lk-block" data-json='[
   {
      "id":1,
      "number":99494,
      "date":"09.02.2021, 00:00",
      "operation":"Вывод денежных средств со счёта",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":32000,
      "status":"success"
   },
   {
      "id":2,
      "number":99495,
      "date":"11.03.2021, 00:00",
      "operation":"Закрывающая выплата (20%)",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":15700,
      "status":"error"
   },
   {
      "id":3,
      "number":99496,
      "date":"11.02.2021, 00:00",
      "operation":"Закрывающая выплата (20%)",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":2000,
      "status":"success"
   },
    {
      "id":4,
      "number":99491,
      "date":"16.02.2021, 00:00",
      "operation":"Первая выплата (70%)",
      "contractor":"Управление Федерального казначейства по г. Москве",
      "amount":2000,
      "status":"process"
   }
]'>
            <div class="lk-table__filter">

                <div class="lk-table__filter-sort">
                    <span class="lk-table__text">Сортировать</span>
                    <select name="" class="custom-select" id="lk-table__filter-sort">
                        <option value="date">По дате</option>
                        <option value="number">По номеру</option>
                        <option value="contractor">По контрагенту</option>
                        <option value="amount">По сумме</option>
                        <option value="status">По статусу</option>
                        <option value="operation">По операции</option>
                    </select>
                </div>
                <div class="lk-table__filter-direction" id="lk-table__filter-direction">
                    <div class="item active" data-sort="asc">
                        <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="4" height="21" transform="matrix(-1 0 0 1 18 0)" fill="white"/>
                            <rect width="4" height="15" transform="matrix(-1 0 0 1 11 6)" fill="white"/>
                            <rect width="4" height="9" transform="matrix(-1 0 0 1 4 12)" fill="white"/>
                        </svg>
                    </div>
                    <div class="item" data-sort="desc">
                        <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="4" height="21" fill="#C4C4C4"/>
                            <rect x="7" y="6" width="4" height="15" fill="#C4C4C4"/>
                            <rect x="14" y="12" width="4" height="9" fill="#C4C4C4"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="lk-table-scroll">
                <table class="lk-table">
                    <tbody>
                    <!--<tr>
                        <td>
                            <div class="title">№ операции</div>
                            <div class="value">99494</div>
                        </td>
                        <td>
                            <div class="title">дата и время</div>
                            <div class="value">09.02.2021, 00:00</div>
                        </td>
                        <td>
                            <div class="title">контрагент</div>
                            <div class="value">Управление Федерального казначейства по г. Москве</div>
                        </td>
                        <td>
                            <div class="title">Сумма</div>
                            <div class="value">32 000 ₽</div>
                        </td>
                        <td>
                            <div class="title">Статус</div>
                            <div class="value">
                                <span class="status success"></span>
                                <span>Исполнена</span>
                            </div>
                        </td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<%= _.template(require('./../includes/lk/footer-lk.html').default)(data) %>
