<% var data = { title: "Профиль | Факторинг", authPage: false }; %> <%= _.template(require('./../includes/lk/header-lk.html').default)(data) %>

<section class="section auth">
    <form action="" class="auth__form with-success" id="auth-form">

        <div class="auth__step active" data-step="1">
            <h2 class="h2 margin-bottom-x2">Редактировать паспортные данные</h2>

            <!-- Добавить класс success - чтобы была галочка у поля-->
            <label class="field field-input success">
                <input class="input-text placeholder validate input-mask" data-mask_tpl="passport_serial_number" data-validate="passport_serial_number" placeholder="Введите номер и серию" data-placeholder="Серия и номер паспорта"
                       name="passport" type="text" value="7476858865">
                <p class="error-message"></p>
            </label>

            <div class="auth__field-row">
                <label class="field field-input">
                    <input class="input-text placeholder validate input-mask" data-validate="date" data-mask_tpl="date" placeholder="Введите дату выдачи" data-placeholder="Дата выдачи"
                           name="passport_date"  type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input">
                    <input class="input-text placeholder validate input-mask" data-mask_tpl="passport_code" data-validate="required-min-code" data-min-length="7" placeholder="Введите код"
                           data-placeholder="Код подразделения"
                           name="name"  type="text">
                    <p class="error-message"></p>
                </label>
            </div>

            <label class="field field-input">
                <textarea class="input-text placeholder validate" data-validate="required-min" data-min-length="10" placeholder="Введите кем выдан паспорт" data-placeholder="Кем выдан"
                          name="name"></textarea>
                <p class="error-message"></p>
            </label>

            <button class="button full-width margin-bottom" type="submit">Сохранить</button>

            <a href="/lk-profile.html">Вернуться назад</a>
        </div>


        <div class="auth__loader">
            <div class="loader"></div>
        </div>

        <div class="auth__message">

        </div>
    </form>
</section>




<%= _.template(require('./../includes/lk/footer-lk.html').default)(data) %>
