<% var data = { title: "Личный кабинет | Факторинг", authPage: false }; %> <%= _.template(require('./../includes/lk/header-lk.html').default)(data) %>


<section class="section  lk">
    <div class="container">
        <h3 class="h3">Профиль</h3>

        <div class="lk-info lk-block">
            <div class="auth__tabs">
                <a href="#" class="item active">Мои данные</a>
                <a href="#" class="item">Счета и карты</a>
            </div>
        </div>

    </div>
</section>



<%= _.template(require('./../includes/lk/footer-lk.html').default)(data) %>
