.auth {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: $colorGrayExtraLight;

    .auth__form {
        position: relative;
        padding: 40px 84px;
        margin: 44px 0;
        background: $colorWhite;
        border-radius: 4px;
        max-width: 656px;
        width: 100%;

        .auth__step {
            position: relative;
            z-index: 2;
            display: none;

            &.active {
                display: block;
            }
        }

        .auth__step-text {
            font-size: 16px;
            line-height: 28px;
            color: $colorGray;

            .auth__phone-text {
                color: $colorText;
            }
        }

        .auth__code {
            display: flex;
            justify-content: center;

            .field {
                margin: 0 8px;


            }
        }

        .auth__loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 8;
            background: $colorWhite;

            .loader {
                width: 64px;
                height: 64px;
                background: url("../img/auth/loader.svg") no-repeat center center;
                -webkit-background-size: cover;
                background-size: cover;
                animation-name: rotation;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @-webkit-keyframes rotation {
                0% {
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @-moz-keyframes rotation {
                0% {
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @-o-keyframes rotation {
                0% {
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @keyframes rotation {
                0% {
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(720deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        }

        .auth__progress {
            margin-bottom: 24px;

            .auth__progress-line {
                width: 0;
                height: 8px;
                background: $colorPrimary;
                border-radius: 4px;
            }

            .auth__progress-container {
                width: 100%;
                height: 8px;
                background: $colorGrayLight;
                border-radius: 4px;
                overflow: hidden;
            }
        }

        .auth__policy-label {
            font-size: 16px;
            line-height: 28px;

            a {
                font-size: 16px;
                line-height: 28px;
            }
        }

        .auth__field-row {
            display: flex;
            align-items: center;
            margin: 0 -12px;

            .field {
                width: calc(50% - 24px);
                margin: 0 12px 24px;
            }

            @include mobile {
                flex-wrap: wrap;
                margin: 0;

                .field {
                    width: 100%;
                    margin: 0 0 24px;
                }
            }
        }

        a:not(.button) {
            color: $colorPrimary !important;
            font-size: 16px;
            line-height: 28px;
            text-decoration: underline;
        }

        .field {
            margin-top: 0 !important;
            margin-bottom: 24px !important;
        }

        .auth__text {
            font-size: 16px;
            line-height: 28px;
        }

        .auth__message {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateY(100%);
            opacity: 0;
            background: $colorWhite;
            padding: 25px 84px;

            @include mobile {
                padding: 5px 16px;
            }

            .h2 {
                margin: 20px 0 4px;
            }

            .h2, p {
                text-align: center;
            }

            .button {
                margin-top: 20px;
            }
        }

        &.show-loading {
            .auth__loader {
                display: flex;
            }
        }

        &.show-message {
            .auth__message {
                transform: translateY(0);
                opacity: 1;
                z-index: 30;
            }
        }

        @include mobile {
            padding: 20px 16px;
            margin: 20px 0;
            box-shadow: 0px 4px 8px rgba(0, 34, 66, 0.08);
        }
    }
}


.auth__tabs {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 24px;

    .item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        min-width: 50%;
        padding: 14px;
        background: $colorWhite;
        border: 1px solid $colorGrayMiddle;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: $colorText;

        @include desktop {
            &:hover {
                opacity: 1;
            }
        }

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }

        &.active {
            background: $colorText;
            border: 1px solid $colorText;
            color: $colorWhite;
        }
    }
}
