html {
    margin: 0;
    padding: 0;
    font-family: $fontBase;
    font-size: 10px;
    font-weight: 400;
    color: $colorText;
    height: auto;
    min-height: 300px;
    background: $colorWhite;
    -webkit-text-size-adjust: 100%;
}

body {
    height: auto;
    padding: 0;
    min-height: 100%;
    margin: 0;
    background: $colorWhite;
    overflow-x: hidden;
}

* {
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

.body {
    flex: 1 0 auto;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 1px 17px;
    max-width: 1258px;
    width: 100%;
    height: 100%;
    &.container-sm {
        max-width: 1100px;
    }
    @include mobile {
        padding: 1px 17px;
    }
}
