.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $colorPrimary;
    border-radius: 4px;
    padding: 20px 40px;
    transition: 0.2s ease;
    text-decoration: none;
    color: $colorWhite;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    border: 0;
    cursor: pointer;
    @include desktop {
        &:hover {
            background: $colorPrimaryHover;
        }
    }

    &.small {
        font-size: 16px;
        line-height: 28px;
        border-radius: 12px;
        padding: 8px 24px;
    }

    &.secondary {
        background: $colorGrayLight;
        color: $colorText;
        @include desktop {
            &:hover {
                background: #E0E5E9 !important;
            }
        }
    }

    &[disabled] {
        background: #ABCAE6;
    }

    &.full-width {
        width: 100%;
    }
}
