.footer {
    margin-top: auto;

    .footer__top {
        background: $colorGrayExtraLight;
        padding: 96px 0;

        @include mobile {
            padding: 46px 0;
        }

        .footer__top-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            margin: 0 auto;

            .footer__top-text {
                max-width: 70%;
            }

            @include mobile {
                width: 100%;
                padding: 0 16px;

                .footer__top-text {
                    max-width: 100%;
                }
            }
        }
    }

    .footer__main {
        .footer__main-wrap {
            display: flex;
            padding: 96px 0;

            @include mobile {
                padding: 28px 0;
                flex-wrap: wrap;
            }
        }

        .footer__main-info {
            display: flex;
            flex-direction: column;

            .footer__main-logo {
                &:hover {
                    opacity: 1;
                }

                @include mobile {
                    display: none;
                }
            }

            .footer__main-socials {
                display: flex;
                align-items: center;
                margin-top: 28px;

                @include mobile {
                    margin-top: 0;
                    justify-content: center;
                }

                .footer__main-socials-item {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $colorGrayExtraLight;

                    i {
                        color: $colorText;
                        font-size: 16px;
                        height: 18px;
                    }

                    @include mobile {
                        width: 60px;
                        height: 60px;

                        i {
                            font-size: 24px;
                            height: 26px;
                        }
                    }
                }

                .footer__main-socials-item + .footer__main-socials-item {
                    margin-left: 8px;
                }
            }
        }

        .footer__main-nav {
            display: flex;
            flex-direction: column;
            margin: 0 136px 0 128px;
            min-width: 280px;

            .footer__main-nav-item {
                &:first-child {
                    line-height: 1.2;
                }

                @include desktop {
                    &:hover {
                        opacity: 1;
                        color: $colorText !important;
                    }
                }
            }

            .footer__main-nav-item + .footer__main-nav-item {
                margin-top: 12px;
            }

            @include desktop-smaller {
                margin: 0 50px 0 128px;
            }

            @include mobile {
                flex-wrap: wrap;
                align-items: center;
                margin: 28px 0;
            }
        }

        .footer__main-contacts {
            .footer__main-contacts-block {
                display: flex;
                flex-direction: column;

                @include mobile {
                    align-items: center;
                }

                &:first-child {
                    .footer__main-contacts-title {
                        line-height: 1;
                    }
                }
            }

            .footer__main-contacts-title {
                line-height: 24px;
            }

            .footer__main-contacts-link {
                margin-top: 8px;
                color: $colorText;
                font-size: 16px;
                line-height: 28px;
            }
        }

        @include mobile {
            .footer__main-info,
            .footer__main-nav,
            .footer__main-contacts {
                width: 100%;
            }
        }
    }

    .footer__bottom {
        background: $colorWhite;
        padding: 16px 0;
        border-top: 1px solid $colorGrayLight;

        .footer__bottom-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer__bottom-info {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .footer__buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        background: $colorWhite;
        z-index: 100;

        .button + .button {
            margin-left: 20px;
        }
    }
}

.footer__buttons-margin {
    height: 70px;
    width: 100%;
}
