.how {

    @include desktop-smaller {
        padding-bottom: 10px;
    }

    .how__steps-wrap {
        display: flex;
        margin: 36px -16px 88px;

        .how__steps-item {
            opacity: 0;
            transform: translateY(100%);
            width: calc(25% - 32px);
            margin: 0 16px 32px;
            transition: 0.4s ease;


            &.visible {
                opacity: 1;
                transform: translateY(0);
            }

            &.delay-1 {
                transition-delay: 0.2s;
            }
            &.delay-2 {
                transition-delay: 0.4s;
            }
            &.delay-3 {
                transition-delay: 0.6s;
            }

            @include mobile {
                opacity: 1;
                transform: translateY(0);
            }

            .how__steps-item-img {
                height: 70px;
                margin-bottom: 22px;

                img {
                    width: auto;
                }
            }
        }

        p {
            margin: 0;
        }

        .h6 {
            margin-bottom: 4px;
        }

        @include mobile {
            margin: 36px -16px 38px;
            .how__steps-item {
                width: calc(50% - 32px);
            }
        }
        @include only-mobile {
            margin: 36px 0 38px;
            .how__steps-item {
                width: 100%;
                margin: 0 0 32px;
                display: flex;
                align-items: center;

                .how__steps-item-img {
                    height: auto;
                    width: 55px;
                    min-width: 55px;
                    margin-right: 22px;
                    margin-bottom: 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .how__double {
        display: flex;
        align-items: center;
        margin: 0 -16px 10px;

        @include mobile {
            flex-wrap: wrap;
            margin: 0 0 10px;
        }

        .how__double-item {
            width: calc(50% - 32px);
            margin: 0 16px;

            @include mobile {
                width: 100%;
                margin: 0 0 32px;
            }

            &.images-stack-block {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.how__double-phone {
                @include mobile {
                    transform: translateX(-10%);
                }
                .image-stack-first {
                    position: relative;
                    width: auto;
                    height: 567px;

                    @include mobile {
                        height: auto;
                        width: 80%;
                    }
                    @include only-mobile {
                        height: auto;
                        width: 100%;
                    }
                }
                .image-stack:not(.image-stack-first) {
                    width: auto;
                    height: 521px;
                    top: 30px;
                    left: 40%;

                    @include mobile {
                        height: auto;
                        width: 65%;
                        top: 10%;
                        left: 45%;
                    }
                    @include only-mobile {
                        height: auto;
                        width: 80%;
                        top: 10%;
                        left: 35%;
                    }
                }
            }

            .how__double-phone-big {
                top: -15%;
            }
            .how__double-phone-small {
                left: 40%;
                top: 10%;
            }
        }
    }

    @include mobile {
        .how__steps-wrap {
            flex-wrap: wrap;

            .how__steps-item {
                width: calc(50% - 32px);
            }
        }
    }

    @include only-mobile {
        .how__steps-wrap {
            margin: 26px 0 38px;
            .how__steps-item {
                width: 100%;
                margin: 0 0 32px;
            }
        }
    }
}
