.header-margin {
    height: 80px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background: $colorWhite;
    width: 100%;
    height: 100%;
    z-index: 999;

    &.preloader-hide {
        opacity: 0;
        transform: translateY(-100%);
    }
}


.images-stack-block {
    position: relative;

    .image-stack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &.image-stack-first {
            z-index: 3;
        }

        &.z-index-up {
            z-index: 12;
        }
    }

    &.images-stack-relative {
        .image-stack {
            &.image-stack-first {
                position: relative;
                top: auto;
                left: auto;
                width: 100%;
            }
        }
    }

}


/**
Всплывающее окно на разметке
 */
.popup-info {
    display: none;
    position: fixed;
    z-index: 990;
    left: 50%;
    top: 50%;
    width: 380px;

    @include desktop {
        max-width: 235px;
    }

    @include mobile {
        display: block;
        top: 100% !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
    }

    &:before {
        content: "";
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .4s ease;
    }

    &.show {
        display: block;

        @include mobile {
            top: 0 !important;

            &:before {
                display: block;
            }
        }
    }

    &.show-effect {
        &:before {
            opacity: 1;
        }

        .content {
            @include mobile {
                transform: translateY(0);
            }
        }
    }

    .content {
        position: relative;
        display: block;
        margin: 0;
        padding: 0 14px;
        width: 100%;
        background: $colorWhite;
        border-radius: 12px;
        transition: transform .4s ease;

        @include desktop {
            background: rgba(71, 73, 76, 0.9);
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -20px;
                border: 10px solid transparent;
                border-bottom: 10px solid rgba(71, 73, 76, 0.9);
            }
        }


        @include mobile {
            position: absolute;
            z-index: 90;
            bottom: 0;
            left: 0;
            border-radius: 10px 10px 0 0;
            transform: translateY(100%);
            padding: 0;
        }
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 17px;
        right: 0;
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        color: $colorWhite;
        text-decoration: none;
        border-radius: 12px;
    }


    .popup__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 22px;

        @include mobile {
            margin-top: 0;
        }

        .button {
            margin: 0;
        }

        .popup__footer-close {
            margin: 20px 0;
        }
    }

    .head {
        position: relative;
        margin: 0;
        padding: 14px 0;
        display: flex;
        align-items: stretch;

        .info {
            display: flex;
            flex-direction: column;
            height: 100%;

            .text {
                font-size: 12px;
                line-height: 16px;
                color: $colorWhite;
            }
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
            padding: 27px 16px 0;
            .info {
                align-items: center;

                .text {
                    font-size: 18px;
                    line-height: 32px;
                    color: $colorText;
                    text-align: center;
                }
            }
        }
    }
}
