.ui-datepicker {
    width: auto !important;
    font-size: 2em !important;
    z-index: 999 !important;

    .ui-state-highlight {
        background: $colorGray !important;
        border-color: $colorGray !important;
        color: $colorWhite !important;
    }

    .ui-state-active {
        background: $colorPrimary !important;
        border-color: $colorPrimary !important;
    }
}


.lk-table__wrapper {
    padding: 34px 32px 8px;
    margin: 25px 0;

    @include mobile {
        padding: 34px 16px 8px;
    }

    .lk-table__text {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.12em;
        color: $colorBlack;
        text-transform: uppercase;
    }


    .lk-table {
        width: 100%;
        border-radius: 4px;

        .lk-table__row {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            border-top: 1px solid $colorGrayExtraLight;

            @include mobile {
                flex-wrap: wrap;
            }
        }

        .item {
            padding: 23px 0;
            vertical-align: top;


            &.number {
                flex: 0 0 108px;
            }

            &.date {
                flex: 0 0 130px;
            }

            &.operation {
                flex: 1 1 260px;
            }

            &.contractor {
                flex: 1 1 auto;
            }

            &.amount {
                flex: 0 0 98px;
            }

            &.status {
                flex: 0 0 124px;
            }

            @include desktop-smaller {
                &.number {
                    flex: 0 0 98px;
                }
                &.date {
                    flex: 0 0 120px;
                }
                &.operation {
                    flex: 1 1 260px;
                }
                &.contractor {
                    flex: 1 1 auto;
                }
                &.amount {
                    flex: 0 0 88px;
                }
                &.status {
                    flex: 0 0 114px;
                }
            }

            @include mobile {
                &.number {
                    flex: 0 0 50%;
                }
                &.date {
                    flex: 0 0 50%;
                }
                &.operation {
                    flex: 1 1 100%;
                }
                &.contractor {
                    flex: 1 1 100%;
                }
                &.amount {
                    flex: 0 0 50%;
                }
                &.status {
                    flex: 0 0 50%;
                }
            }

            .title {
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: $colorGray;

                @include desktop-smaller {
                    font-size: 10px;
                    line-height: 22px;
                }
            }

            .value {
                font-size: 14px;
                line-height: 24px;
                color: $colorBlack;
                display: flex;
                align-items: center;
                @include desktop-smaller {
                    font-size: 12px;
                    line-height: 22px;
                }

                .status {
                    display: block;
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                    -webkit-background-size: contain !important;
                    background-size: contain !important;
                    border-radius: 50%;
                    margin-top: -2px;

                    &.success {
                        background: url("../img/lk/status-success.svg") no-repeat center;
                    }

                    &.error {
                        background: url("../img/lk/status-error.svg") no-repeat center;
                    }

                    &.process {
                        background: url("../img/lk/status-process.svg") no-repeat center;
                    }
                }
            }
        }

        .item + .item {
            margin-left: 30px;
            @include mobile {
                margin-left: 0;
            }
        }
    }

    .lk-table__filter {
        display: flex;
        align-items: center;
        padding-bottom: 36px;




        .lk-table__filter-btn-mob {
            position: relative;
            display: flex;
            align-items: center;
            width: calc(50% - 8px);
            height: 45px;
            border: 2px solid #ECEFF2;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 11px 10px;
            font-size: 14px;
            line-height: 24px;
            color: $colorBlack;


            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 17px;
                right: 17px;
                background: url("../img/lk/arrow.svg") no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                width: 13px;
                height: 8px;

            }

            @include only-mobile {
                font-size: 13px;
                line-height: 22px;
                &:after {
                    right: 14px;
                }
            }
        }

        .lk-table__filter-btn-mob + .lk-table__filter-btn-mob {
            margin-left: 16px;
        }

        .lk-table__filter-date {
            display: flex;
            align-items: center;
            margin: 0 30px 0 18px;

            .divider {
                display: block;
                width: 15px;
                height: 1px;
                background: $colorText;
                margin: 0 10px;
            }
        }

        .lk-table__filter-sort {
            display: flex;
            align-items: center;
            margin: 0 24px 0 28px;

            span {
                margin-right: 28px;
            }
        }

        .lk-table__filter-direction {
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            align-items: center;
            border: 2px solid #ECEFF2;

            .item {
                width: 42px;
                height: 42px;
                min-width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #ECEFF2;
                border-radius: 3px;

                svg {
                    rect {
                        fill: $colorGray;
                    }
                }

                &:first-child {
                    border-radius: 4px 0 0 4px;
                }

                &:last-child {
                    border-radius: 0 4px 4px 0;
                }

                &.active {
                    background: #fff;

                    svg {
                        rect {
                            fill: $colorText;
                        }
                    }
                }

                &:not(:last-child) {
                    border-right: 0;
                }
            }

            .item.active + .item {
                border-left: 0;
            }
        }

        .lk-table__filter__block {
            display: flex;
            align-items: center;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $colorWhite;
                transform: translateX(-100%);
                opacity: 0;
                transition: 0.2s ease;
                padding: 24px 16px;
                overflow: auto;

                &.open-filter {
                    transform: translateX(0);
                    opacity: 1;
                    z-index: 9999;
                }

                .lk-table__filter__title {
                    width: 100%;
                    margin-bottom: 24px;

                    span {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 32px;
                        color: $colorText;
                        text-transform: initial;
                        letter-spacing: 0;
                    }

                    img {
                        display: block;
                        width: 24px;
                        height: 24px;
                    }
                }

                .lk-table__filter-date,
                .lk-table__filter-sort,
                .lk-table__filter-status,
                .lk-table__filter-direction {
                    width: 100%;
                    margin-bottom: 17px;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }

                .lk-table__filter-direction {
                    .item {
                        width: 50%;
                    }
                }

                .lk-table__filter-date {
                    display: flex;
                    align-items: center;
                    margin: 0 0 17px;

                    input {
                        width: calc(50% - 14px);
                    }

                    .divider {
                        display: block;
                        width: 15px;
                        height: 1px;
                        background: $colorText;
                        margin: 0 6px;
                    }
                }

                .choices-custom {
                    width: 100%;
                }


            }

            .lk-table__filter__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .lk-table__filter__block + .lk-table__filter__block {
            @include desktop {
                margin-left: 30px;
            }

        }
    }

    .choices-custom {
        width: 246px;
    }

    input {
        width: 130px;
        padding: 9px 14px;
        height: 45px;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        line-height: 28px;
    }
}


.lk-table__history {
    .lk-table__filter {
        justify-content: space-between;
    }

    .lk-table__filter-sort {
        margin-left: 0 !important;
    }

    .choices-custom {
        width: 280px;


    }
}


