.lk-request-form {
    .main__calculator {
        max-width: 100%;
        width: 100%;

        .main__calculator-summary-block {
            border-top: 1px solid $colorGrayLight;
            padding: 8px 0;
        }
    }
}
