.main {
    @include desktop-smaller {
        padding: 10px;
    }
    @include only-mobile {
        padding-top: 0;
    }
    .main__info {
        width: 592px;
        margin: 42px 0;

        @include desktop-smaller {
            width: 520px;
            margin: 15px 0;
        }

        @include mobile {
            width: 100%;
            margin: 15px 0;
        }

        .main__info-top {
            position: relative;
            z-index: 12;

            @include mobile {
                * {
                    text-align: center;
                }
            }

            @include only-mobile {
                h1 {
                    font-size: 30px;
                    line-height: 38px;
                }
            }
        }
    }

    .main__calculator {
        position: relative;
        z-index: 12;
        width: 384px;

        @include mobile {
            width: 100%;
        }

        .main__calculator-summary {
            margin-top: 10px;
            .main__calculator-summary-block {
                .main__calculator-summary-title {
                    display: flex;
                    align-items: center;
                    z-index: 4;
                    span {
                        display: inline-block;
                    }
                }

                .main__calculator-summary-text {
                    display: flex;
                    align-items: center;
                    margin-top: -7px;

                    span {
                        margin-right: 12px;
                    }

                    @include mobile {
                        flex-wrap: wrap;
                    }
                }

                .main__calculator-summary-info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    cursor: pointer;

                    i {
                        font-size: 15px;
                        height: 17px;
                        color: $colorGrayMiddle;
                    }
                }

                .main__calculator-summary-cross {
                    position: relative;
                    display: flex;
                    align-items: center;
                    &:before {
                        position: absolute;
                        left: 0;
                        top: calc(50% - 1px);
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: rgba(25,28,31,0.5);
                    }

                    span + span {
                        margin-left: 4px;
                    }
                }
            }

            .main__calculator-summary-block + .main__calculator-summary-block {
                margin-top: 4px;
            }
        }
    }

    .main__images {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 750px;
        height: 100%;
        width: 100%;

        .main__images-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 76px;
            height: 76px;
            border-radius: 50%;
            box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 7;
            background: $colorWhite;
            cursor: pointer;

            @include desktop {
                &:hover {
                    background: $colorGrayExtraLight;
                }
            }
        }

        @media screen and (min-width: 1000px) and (max-width: 1180px){
            max-width: 550px;
        }


        @include mobile {
            position: relative;
            right: auto;
            top: auto;
            max-width: 100%;

            .image-stack-first {
                position: relative;
                top: auto;
                left: auto;
            }
        }
    }
}
