$fontBase: 'Graphik LCG';

$colorPrimary: #2078C4;
$colorPrimaryHover: #0079E2;
$colorText: #191C1F;
$colorDarkGray: #5E646A;
$colorGray: #83898F;
$colorGrayMiddle: #C2C8CD;
$colorGrayLight: #ECEFF2;
$colorGrayExtraLight: #F6F8FA;
$colorWhite: #fff;
$colorBlack: #000;

$colorDangerous: #F13636;
$colorSuccess: #25CD82;


